.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.21;
  min-height: 27px;
  outline-color: blue;
  padding-left: 5px;
}

.popup__input:last-child {
  margin-bottom: 48px;
}