.elements__trash {
  position: absolute;
  right: 15px;
  top: 18px;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  background-image: url(../../../images/element-trash.svg);
  width: 18px;
  height: 19.3px;
  transition: opacity 200ms ease-in-out;
}

.elements__trash:hover {
  opacity: 0.5;
  cursor: pointer;
}