.popup__close-icon {
  width: 56.5px;
  height: 56.5px;
  position: absolute;
  top: -45px;
  right: -45px;
  transition: opacity 200ms ease-in-out;
}

.popup__close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 590px) {
  .popup__close-icon {
    width: 37px;
    height: 37px;
    top: -45px;
    right: -5px;
  }
}