.image-viewer__close {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  position: absolute;
  top: -50px;
  right: -50px;
  transition: opacity 200ms ease-in-out;
}
  
@media screen and (max-width: 590px) {
  .image-viewer__close {
    right: -5px;
  }
}
